body {
  background-color: #f0f2f5;
}

.navbar,
.bg-primary {
  background-color: #ffffff !important;
}

.form-control {
  border-radius: 20px;
}

.btn-secondary {
  background-color: #e4e6eb;
}

.btn {
  font-size: 14px !important;
  font-weight: 600;
  color: #65676b;
}

.btn:hover {
  background-color: #d3d4d6;
}

.me-5 {
  margin-right: 4.6rem !important;
}

/* FOR BUTTONS - GENERIC */
.px-xl-3 {
  padding-right: 62px !important;
  padding-left: 62px !important;
}

.px-2 {
  padding-right: 42px !important;
  padding-left: 42px !important;
}

.px-3 {
  padding-right: 43px !important;
  padding-left: 43px !important;
}

.px-4 {
  padding-right: 62px !important;
  padding-left: 62px !important;
}

.py-1 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.px-sm-2 {
  padding-right: 18px !important;
  padding-left: 18px !important;
}

.py-2 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.container {
  width: 670px;
  margin: 0 auto;
}

.bg-dark {
  background-color: #65676b !important;
}

/* BORDER BOTTOM CUSTOMIZE - SECTION (MAIN HERO) */
.border-secondary {
  border-bottom: 1px solid #65676b67 !important;
}

.card {
  display: flex !important;
}

.card {
  width: 112px;
  height: 194px;
}

.card-body {
  font-size: 12px;
}

.card-title {
  font-size: 12px !important;
  font-family: sans-serif;
  color: #fff;
  font-weight: 600;
}

.card-text {
  font-weight: 600;
}

.col-3 {
  width: auto;
}

.shadow-sm {
  box-shadow: 0 8px 8px -4px rgba(118, 125, 128, 0.651) !important;
}

.bi-arrow-right-short:hover {
  cursor: pointer;
}

/* SECTION 2 */

/* .btn-check */
.pb-3 {
  padding-bottom: 12px !important;
}

.fs-5 {
  font-size: 17px !important;
  font-weight: 600;
}

.fs-4 {
  font-size: 12px !important;
  font-weight: lighter !important;
}

.bi:hover {
  cursor: pointer;
}

/* PAG E HOVER ANG COMPONENT SHOWS DETAIL */
/* REFERENCE - STACKOVERFLOW */
a[title]:hover {
  content: attr(title);
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: #3a3a3a;
  color: #fff;
  font-size: 14px;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -2em;
  right: 20%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border-radius: 5px;
}
[data-title] {
  position: relative;
}

/* GENERIC - COMMENT (like, reply)*/

.fs-6 {
  font-size: 12px !important;
}

.fs-6 p:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fs-6 p:nth-child(2):hover {
  text-decoration: underline;
  cursor: pointer;
}

/* GENERIC - POST DESCRIPTION TEXT */

.fs-2 {
  font-size: 1rem !important;
}

/* ASIDE [LEFT SIDEBAR] ==============GENERIC BUTTONS=============== */

.px-5 {
  padding-right: 6rem !important;
  padding-left: 1rem !important;
}
/* SEE MORE BUTTON */

aside .py-1:nth-child(7) {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 35.5%;
}

/* FONT SIZE OF P ELEMENT ON EVERY BUTTON IN LEFT SIDEBAR */

.fs-3 {
  font-size: 17px !important;
}

/* GENERIC FOOTER FONT SIZE */
.fs-1 {
  font-size: 15px !important;
}

/* GENERIC MARGIN LEFT (Facebook icon, nested commentator, footer) */

.ms-4 {
  margin-left: 2.3rem !important;
}

/* Your shortcut and Sponsored (font size) */

.display-6 {
  font-size: 16px !important;
}

.w-25 {
  width: 57% !important;
}

/* RIGHT SIDE BAR SCROLLABLE */
.callout-scroll {
  max-height: 900px;
  overflow-y: scroll;
  overflow-x: hidden;
}
